@{
    ViewData["Title"] = "Category Product";
    var customers = ViewBag.Customers as List<string>;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main-content">
    <div class="shop-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 order-lg-1 order-2 pt-10 pt-lg-0">
                    <div class="sidebar-area style-2">
                        <div class="widgets-searchbox widgets-area py-6 mb-9">
                            <form id="widgets-searchbox" action="#">
                                <input id="searchInput" class="input-field" type="text" placeholder="Search">
                                <button class="widgets-searchbox-btn" type="submit">
                                    <i class="pe-7s-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="widgets-area mb-9">
                            <h2 class="widgets-title mb-5">Danh mục</h2>
                            <div class="widgets-item">
                                <ul class="widgets-category">
                                    @foreach(var cate in ViewBag.CateCount)
                                    {
                                        <li>
                                            <a href="#">
                                                @cate.Item1
                                                <span>(@cate.Item3)</span>
                                            </a>
                                        </li>
                                    }
                                    
                                </ul>
                            </div>
                        </div>
                       
                        
                        
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 order-lg-2 order-1">
                    <div class="product-topbar">
                        <ul>
                            
                            <li ></li>
                            <li ></li>
                            <li class="short">
                                <select id="sortSelect" class="nice-select rounded-0">
                                    <option value="1">Sort by Default</option>
                               
                                    <option value="2">Sort by High Price</option>
                                    <option value="3">Sort by Low Price</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content text-charcoal pt-8" >
                        <div class="tab-pane fade show active" id="grid-view" role="tabpanel"
                             aria-labelledby="grid-view-tab">
                            <div class="product-grid-view row" id="productGrid">
                                @foreach (var item in ViewBag.ProductVariantsWithProducts)
                                {
                                    <div class="col-xl-4 col-sm-6 pt-6 product-item">
                                        <div class="product-item">
                                            <div class="product-img img-zoom-effect">
                                                <a href="single-product-variable.html">
                                                    <img class=" img-full  category-img"
                                                         src="~/imgs/@item.Product.Image"
                                                         alt="Product Images">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <a class="product-name pb-1"
                                                   href="">@item.Product.Name</a>
                                                <div class="price-box">
                                                    <div class="price-box-holder">
                                                        <span>Giá:</span>
                                                        <span data-price="@item.ProductVariant.Price" class="text-primary">@item.ProductVariant.Price đ</span>
                                                    </div>
                                                </div>
                                                <div class="product-add-action">
                                                    <ul>
                                                        <li><a class="space_cate"></a></li>
                                                        <li>
                                                            <a href="cart.html" data-tippy="Add to cart"
                                                               data-tippy-inertia="true"
                                                               data-tippy-animation="shift-away"
                                                               data-tippy-delay="50" data-tippy-arrow="true"
                                                               data-tippy-theme="sharpborder">
                                                                <i class="pe-7s-cart"></i>
                                                            </a>
                                                        </li>
                                                        <li class="quuickview-btn" data-bs-toggle="modal"
                                                            data-bs-target="#quickModal_@item.Product.Id">
                                                            <a href="#" data-tippy="Quickview"
                                                               data-tippy-inertia="true"
                                                               data-tippy-animation="shift-away"
                                                               data-tippy-delay="50" data-tippy-arrow="true"
                                                               data-tippy-theme="sharpborder">
                                                                <i class="pe-7s-look"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="wishlist.html" data-tippy="Add to wishlist"
                                                               data-tippy-inertia="true"
                                                               data-tippy-animation="shift-away"
                                                               data-tippy-delay="50" data-tippy-arrow="true"
                                                               data-tippy-theme="sharpborder">
                                                                <i class="pe-7s-like"></i>
                                                            </a>
                                                        </li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal quick-view-modal fade" id="quickModal_@item.Product.Id" data-bs-backdrop="static" data-bs-keyboard="false"
                                         tabindex="-1" aria-labelledby="quickModal_@item.Product.Id" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="modal-wrap row">
                                                        <div class="col-lg-6">
                                                            <div class="modal-img">
                                                                <div class="swiper-container modal-slider">
                                                                    <div class="swiper-wrapper ">
                                                                        <div class="swiper-slide">
                                                                            <a href="#" class="single-img">
                                                                                <img class="img-full"
                                                                                     src="~/imgs/@item.Product.Image"
                                                                                     alt="Product Image">
                                                                            </a>
                                                                        </div>
                                                                        
                                                                        
                                                                    </div>

                                                                </div>
                                                                <div class="thumbs-arrow-holder">
                                                                    <div class="swiper-container modal-thumbs">
                                                                        <div class="swiper-wrapper">
                                                                            <a href="#" class="swiper-slide">
                                                                                <img class="img-full"
                                                                                     src="/assets//images/product/large-size/2-1-618x578.jpg"
                                                                                     alt="Product Thumnail">
                                                                            </a>
                                                                            <a href="#" class="swiper-slide">
                                                                                <img class="img-full"
                                                                                     src="/assets//images/product/large-size/2-2-618x578.jpg"
                                                                                     alt="Product Thumnail">
                                                                            </a>
                                                                            <a href="#" class="swiper-slide">
                                                                                <img class="img-full"
                                                                                     src="/assets//images/product/large-size/2-3-618x578.jpg"
                                                                                     alt="Product Thumnail">
                                                                            </a>
                                                                            <a href="#" class="swiper-slide">
                                                                                <img class="img-full"
                                                                                     src="/assets//images/product/large-size/2-4-618x578.jpg"
                                                                                     alt="Product Thumnail">
                                                                            </a>
                                                                            <a href="#" class="swiper-slide">
                                                                                <img class="img-full"
                                                                                     src="/assets//images/product/large-size/2-5-618x578.jpg"
                                                                                     alt="Product Thumnail">
                                                                            </a>
                                                                            <a href="#" class="swiper-slide">
                                                                                <img class="img-full"
                                                                                     src="/assets//images/product/large-size/2-6-618x578.jpg"
                                                                                     alt="Product Thumnail">
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Add Arrows -->
                                                                    <div class="thumbs-button-wrap d-none d-md-block">
                                                                        <div class="thumbs-button-prev">
                                                                            <i class="pe-7s-angle-left"></i>
                                                                        </div>
                                                                        <div class="thumbs-button-next">
                                                                            <i class="pe-7s-angle-right"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                               
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 pt-9 pt-lg-0">
                                                            <div class="single-product-content">
                                                                <h2 class="title mb-3">@item.Product.Name</h2>
                                                               
                                                                <div class="price-box pb-3">
                                                                    @{
                                                                        bool firstPriceDisplayed = false; // Biến cờ để kiểm tra xem giá đầu tiên đã hiển thị chưa
                                                                    }
                                                                    @foreach (var proSize in ViewBag.ProSize)
                                                                    {
                                                                        if (proSize.ProductVariant.Pro_Id == @item.Product.Id)
                                                                        {
                                                                            if (!firstPriceDisplayed) // Chỉ hiển thị giá đầu tiên
                                                                            {
                                                                                <span data-size="@proSize.Size.Size" id="ProSize_@proSize.Size.Id" class="new-price text-danger">Giá: @proSize.ProductVariant.Price đ</span>
                                                                                firstPriceDisplayed = true; // Đánh dấu đã hiển thị giá đầu tiên
                                                                            }
                                                                            else
                                                                            {
                                                                                <span data-size="@proSize.Size.Size" id="ProSize_@proSize.Size.Id" class="new-price text-danger" style="display:none;">Giá: @proSize.ProductVariant.Price đ</span>
                                                                            }
                                                                        }
                                                                        
                                                                    }
                                                                   
                                                                </div>
                                                                <div class="d-flex justify-content-start gap-3">
                                                                    @{
                                                                        bool isFirstSize = true; // Biến cờ để kiểm tra kích thước đầu tiên
                                                                    }
                                                                    @foreach (var proSize in ViewBag.ProSize)
                                                                    {
                                                                        if (proSize.ProductVariant.Pro_Id == @item.Product.Id)
                                                                        {
                                                                            <div id="ProSize_@proSize.Size.Id" class="form-check">
                                                                                <input class="form-check-input" type="checkbox" name="size"
                                                                                       id="ProSize_@proSize.Size.Id" value="@proSize.Size.Size"
                                                                                @(isFirstSize ? "checked" : "") /> <!-- Đặt checked cho checkbox đầu tiên -->
                                                                                <label class="form-check-label" for="Size_@proSize.Size.Id">
                                                                                    @proSize.Size.Size
                                                                                </label>
                                                                            </div>

                                                                            // Đánh dấu rằng đã hiển thị kích thước đầu tiên
                                                                            isFirstSize = false;
                                                                        }
                                                                    }
                                                                </div>





                                                                <div class="rating-box-wrap pb-55">
                                                                    <div class="rating-box">
                                                                        <ul>
                                                                            <li><i class="fa fa-star"></i></li>
                                                                            <li><i class="fa fa-star"></i></li>
                                                                            <li><i class="fa fa-star"></i></li>
                                                                            <li><i class="fa fa-star"></i></li>
                                                                            <li><i class="fa fa-star"></i></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="review-status ps-4">
                                                                        <a href="#">( 5 Customer Review )</a>
                                                                    </div>
                                                                </div>
                                                                
                                                                
                                                                <ul class="quantity-with-btn pb-9">
                                                                    <li class="quantity">
                                                                        <div class="cart-plus-minus">
                                                                            <input class="cart-plus-minus-box" value="1" type="text">
                                                                        </div>
                                                                    </li>
                                                                    <li class="add-to-cart">
                                                                        <a class="btn btn-custom-size lg-size btn-primary" href="cart.html">
                                                                            Add to
                                                                            cart
                                                                        </a>
                                                                    </li>
                                                                    <li class="wishlist-btn-wrap">
                                                                        <a class="custom-circle-btn" href="wishlist.html">
                                                                            <i class="pe-7s-like"></i>
                                                                        </a>
                                                                    </li>
                                                                   
                                                                </ul>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                               


                               
                            </div>
                        </div>
                       
                    </div>
                    <div class="pagination-area pt-10">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">&laquo;</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- JavaScript -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById('searchInput');
        const productItems = document.querySelectorAll('.product-item');

        const normalizeText = (text) => {
            return text.toLowerCase()
                .normalize("NFD")
                .replace(/[\u0300-\u036f]/g, "")
                .replace(/\s/g, "");
        };

        searchInput.addEventListener('input', function () {
            const searchText = normalizeText(searchInput.value);

            productItems.forEach(item => {
                const productName = normalizeText(item.querySelector('.product-name').innerText);
                if (productName.includes(searchText)) {
                    item.style.display = 'block';
                } else {
                    item.style.display = 'none';
                }
            });
        });
    });


    document.addEventListener("DOMContentLoaded", function () {
        // Lấy tất cả các checkbox
        const checkboxes = document.querySelectorAll('input[type="checkbox"][name="size"]');
        // Lấy tất cả các span giá
        const priceSpans = document.querySelectorAll('.new-price');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function (event) {
                // Kiểm tra xem checkbox có đang checked không
                if (this.checked) {
                    // Bỏ chọn tất cả các checkbox khác
                    checkboxes.forEach(cb => {
                        if (cb !== this) {
                            cb.checked = false;
                        }
                    });

                    // Hiển thị span tương ứng với checkbox được chọn
                    const selectedSize = this.value;
                    priceSpans.forEach(span => {
                        if (span.getAttribute('data-size') === selectedSize) {
                            span.style.display = 'block'; // Hiển thị span
                        } else {
                            span.style.display = 'none'; // Ẩn span
                        }
                    });
                } else {
                    // Kiểm tra nếu không có checkbox nào đang được chọn
                    const anyChecked = [...checkboxes].some(cb => cb.checked);

                    // Nếu không có checkbox nào được chọn, giữ lại checkbox hiện tại
                    if (!anyChecked) {
                        event.preventDefault();
                        this.checked = true; // Giữ trạng thái checked
                    }
                }
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        // Lấy dropdown select và grid chứa sản phẩm
        const sortSelect = document.getElementById('sortSelect');
        const productGrid = document.getElementById('productGrid');
        const productItems = Array.from(productGrid.getElementsByClassName('col-xl-4')); // Lấy cả div bọc ngoài sản phẩm

        // Bắt sự kiện khi thay đổi lựa chọn trong dropdown
        sortSelect.addEventListener('change', function () {
            let sortValue = this.value;

            // Sắp xếp các sản phẩm theo giá
            let sortedProducts = productItems.slice().sort(function (a, b) {
                let priceA = parseFloat(a.querySelector('[data-price]').getAttribute('data-price'));
                let priceB = parseFloat(b.querySelector('[data-price]').getAttribute('data-price'));

                if (sortValue == 2) { // Sắp xếp giá từ cao đến thấp
                    return priceB - priceA;
                } else if (sortValue == 3) { // Sắp xếp giá từ thấp đến cao
                    return priceA - priceB;
                } else { // Mặc định, không sắp xếp lại
                    return 0;
                }
            });

            // Xóa các sản phẩm hiện tại trong grid
            productGrid.innerHTML = '';

            // Thêm lại các sản phẩm theo thứ tự đã sắp xếp
            sortedProducts.forEach(function (product) {
                productGrid.appendChild(product); // Thêm cả div bọc ngoài trở lại DOM
            });
        });
    });



</script>




